In [38]:
import pandas as pd

In [39]:
df=pd.read_csv("weather_data.csv")
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

In [40]:
weather_data=({'day': ['1/1/2017', '1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
  'temperature' : [32,35,28,24,32,31],
  'windspeed' : [6,7,2,7,4,2],
  'event' : ['Rain','Sunny','Snow','Snow','Rain','Sunny']
})
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [41]:
df.shape

(6, 4)

In [7]:
rows,columns = df.shape

In [42]:
rows

6

In [43]:
columns

4

In [44]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [45]:
df.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [46]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [47]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [48]:
df.temperature

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [49]:
type(df.event)

pandas.core.series.Series

In [50]:
df[['day', 'temperature', 'windspeed']]

        day  temperature  windspeed
0  1/1/2017           32          6
1  1/2/2017           35          7
2  1/3/2017           28          2
3  1/4/2017           24          7
4  1/5/2017           32          4
5  1/6/2017           31          2

In [51]:
df.temperature.max()

35

In [52]:
df.temperature.mean()

30.333333333333332

In [53]:
df.temperature.std()

3.8297084310253524

In [54]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [55]:
df.temperature.min()

24

In [56]:
df[df.temperature >= 32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [57]:
df[df.temperature == df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [58]:
df[["day","temperature"]][df.temperature == df.temperature.max()]

        day  temperature
1  1/2/2017           35

In [59]:
df.index

RangeIndex(start=0, stop=6, step=1)

df.set_index("day", inplace = True)
df

In [62]:
df.loc['1/3/2017']

temperature      28
windspeed         2
event          Snow
Name: 1/3/2017, dtype: object

In [63]:
df.reset_index(inplace = True)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [64]:
df.set_index("event", inplace = True)
df

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [65]:
df.loc['Snow']

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7

In [66]:
df.reset_index(inplace = True)
df

   event       day  temperature  windspeed
0   Rain  1/1/2017           32          6
1  Sunny  1/2/2017           35          7
2   Snow  1/3/2017           28          2
3   Snow  1/4/2017           24          7
4   Rain  1/5/2017           32          4
5  Sunny  1/6/2017           31          2